---
import ArticleHeaderSection from "src/components/ArticleHeaderSection.astro";
import FilmPoster from "src/components/FilmPoster";
import Layout from "../layouts/Layout.astro";
import FilmsOfTheWeek from "src/components/FilmsOfTheWeek";
const { content, image, subtitle, title } = {
  title: "Le récap de la",
  subtitle: "semaine du 08/01/24",
  image: "https://images.alphacoders.com/102/10281.jpg",
  content: [
    {
      title: "Nobody Knows",
      id: 1,
      year: 2004,
      kind: "Drame",
      filmmaker: ["Kore Eda"],
      synopsis:
        "Une mere célibataire abandonne ses quatre enfants à leur sort.",
      rating: 3.5,
      aNutshell: "Valise",
      summary:
        "Comme toujours avec Kore Eda les images sont belles. Certaine scènes de joie des enfants  mettent le baume au coeur. Akira est vraiment très touchant. Mais c’est quand même surtout triste et badant. Ça fait un peu réfléchir sur comment les voisins, les commerçants, … agissent peu pour protéger ces enfants livrés à eux même. La dernière séquence  est déchirante. Heureusement que le film est pas tiré d’un fait divers.",
      image:
        "https://fr.web.img3.acsta.net/medias/nmedia/18/35/27/87/18389249.jpg",
    },
    {
      title: "Mulholland Drive",
      id: 2,
      year: 2001,
      kind: "Thriller ",
      filmmaker: ["David Lynch"],
      synopsis:
        "Une femme à un accident et après c’est chelou pendant deux heures.",
      rating: 2.5,
      aNutshell: "Peinture",
      summary:
        "Les parties avec le réalisateur sont très drôles. Il y a des belles séquence et y a pas à dire il sait filmer David ça je dis pas. J’ai vue le film y a trois jours et j’ai déjà tout oublié. ",
      image:
        "https://fr.web.img5.acsta.net/pictures/21/12/08/16/03/5133751.jpg",
    },
    {
      title: "Garden State",
      id: 3,
      year: 2004,
      kind: "Comédie romantique ",
      filmmaker: ["Zach Braff"],
      synopsis:
        "Y a un mec sa mère est morte. Par conséquence, il rentre chez lui où avec l’aide de Natalie (Portman OMG la chance) il va se confronter à son passé.",
      rating: 4,
      aNutshell: "Dingo",
      summary:
        "Les personnages sont attachants. L’humour absurde et décalé est très efficace. A cela on rajoute une histoire touchante et le résultat est sans appel : on passe un super moment. Même l’image qui peut faire un peu télé film est sauvé par des idées originales de mise et scènes. PS: la séquence de la chemise peut apporter beaucoup de bonheur pour les journées difficiles.",
      image:
        "https://fr.web.img6.acsta.net/medias/nmedia/18/35/20/90/18411673.jpg",
    },
    {
      title: "Tel père, tel fils",
      id: 4,
      year: 2013,
      kind: "Thriller",
      filmmaker: ["Kore Eda"],
      synopsis:
        "Des gens ont un fils. Et après quelques années on leur dit enfaite c’est pas votre fils. Du coup il essaye de gérer comme ils peuvent.",
      rating: 4,
      aNutshell: "Paternité",

      summary:
        "On est sur le salade, tomates, oignons de Kore Eda. Des belles images, une situation improbable et des gens qui sont pas parfaits et qui du coup touchent le coeur tendre des êtres humaines que nous sommes. La fin si j’étais pas un bonhomme me donnerait la petite larme. Je me demande ce que Bourdieu penserait de ce film.",
      image:
        "https://fr.web.img5.acsta.net/pictures/210/036/21003660_20131108102404011.jpg",
    },
    {
      title: "Pig",
      id: 5,
      year: 2021,
      kind: "Drame",
      filmmaker: ["Michael Sarnoski"],
      synopsis:
        "Un monsieur pas très propre est pote avec une truie. Des gens pas gentils viennent la voler. Du coup il part à sa recherche.",
      rating: 3.5,
      aNutshell: "Pif",
      summary:
        "Je serai pas mettre les mots sur ce qui me dérange dans l’image, mais j’aime pas trop le style. J’ai aussi un peu du mal à croire à la partie les Ricain ils peuvent être stylé en cuisine. Mais à part cela, j’ai envie de dire que tout est bon dans le cochon. Les personnages sont interessants, Nicolas Cage claque des culs, et l’histoire a une dimension vraiment originale. J’ai envie de dire c’est validé par la street.",
      image:
        "https://fr.web.img4.acsta.net/pictures/21/09/02/16/46/1905332.jpg",
    },
    {
      title: "Les huits montagnes",
      id: 6,
      year: 2022,
      kind: "Drame ",
      filmmaker: ["Felix Van Groeningen", "Charlotte Vandermeersch"],
      synopsis:
        "Deux enfants d’origines sociales très différentes deviennent pote. Après il grandissent et restent potes (c’est beau), mais la vie est compliqué.",
      rating: 4,
      aNutshell: "Nature",
      summary:
        "Des belles images de montagne italienne, des gens qui parlent italien, et une belle histoire d’amitié que demander de plus ? Une fin heureuse peut-être. En tout cas, je suis sur que Bourdieu aurait eu deux trois truc stylé à raconter sur les protagonistes du film. Le film ne fait peut-être que réciter des poncifs mais il le fait de manière splendide.",
      image:
        "https://fr.web.img3.acsta.net/pictures/22/11/16/14/37/3945457.jpg",
    },
  ],
};
---

<Layout title="Welcome to Astro.">
  <>
    <main class="flex flex-col gap-24" style={{ overflow: "unset" }}>
      <ArticleHeaderSection title={title} subtitle={subtitle} image={image} />
      <FilmsOfTheWeek content={content} client:load />
      <div
        class="z-10 flex w-full flex-col items-center gap-10 self-center bg-gray-950 pb-24 pt-12"
      >
        <div class="flex w-full max-w-2xl items-baseline gap-4 lg:max-w-3xl">
          <h3 class="text-3xl font-bold">Vue dans l'article</h3>
          <div class="h-[1px] flex-1 bg-white"></div>
        </div>
        <div
          class="flex w-full max-w-2xl flex-wrap justify-around md:justify-between gap-4 lg:gap-y-12 lg:max-w-3xl"
        >
          {
            content.map(({ image, title }) => (
              <div class="flex flex-col items-center gap-4">
                <FilmPoster
                  name={title}
                  image={image}
                  className="max-h-[250px] max-w-[187.5px] lg:max-h-[300px] lg:max-w-[225px]"
                />
                <h3 class="font-semibold">{title}</h3>
              </div>
            ))
          }
        </div>
      </div>
    </main>
  </>
</Layout>
